{% block body %}
    {% include 'base.html.twig' %}
    <br>
        {% if transaction is defined %}
            {% if action == 'created' %}
                <h1>Transaction created successfully!</h1>
            {% endif %}
            {% if action == 'updated' %}
                <h1>Transaction updated successfully!</h1>
            {% endif %}
            <h3>Json response:</h3>
            {{ transaction|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        {% endif %}
        {% if validationMessages is defined and validationMessages is not empty %}
            <h1>Invalid request data!</h1>
            <h3>Validation info:</h3>

            <div class="center">
                {% for value, errorMessage in validationMessages %}
                    {{ 'Value: "' ~ value ~ '" is invalid, error message: ' ~ errorMessage[0] }}
                {% endfor %}
            </div>
        {% endif %}

        {% if errorMessage is defined %}
            <h1>Transaction failed!</h1>
            <h3>Error message:</h3>
            <div class="center">{{ errorMessage }}</div>
        {% endif %}
        <h3>Status code:</h3>
        <div class="center">{{ statusCode }}</div>
    </div>

{% endblock %}
